@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #ededed;
}

.app{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% );
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 50px;
  position: relative;
  top: -10px;
}

.lat-lng{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
  font-weight: 300;
  position: relative;
  top: 5px;
}

.swal-overlay{
  background-color: #000000e6;
}

.swal-modal{
  background-color: #ffffff;
  border-radius: 0;
}

.swal-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 20px;
  color: #000000;
}

.swal-button{
  background-color: #006eff;
  font-family: 'Poppins', sans-serif;
  border-radius: 0;
  font-weight: 300;
}